<section id="user" class="bg-light">
  <div class="container pt-5">
    <div class="text-center col-12">
      <div class="col-12">
        <h3 class="text-danger">リロードされたため、エラーが発生しました。</i></h3><br><br>
      </div>
      <div class="col-12">
        大変申し訳ございません、セッションが途切れたため、エラーが発生しました。<br>
        再度、以下のリンクからマイページに移動してください。<br>
        <%= link_to "マイページへ", user_path(current_user) %><br><br>
      </div>
    </div>
  </div>
</section>