<section id="contact" class="bg-light">
  <% unless user_signed_in? %>
    <%= render 'layouts/header' %>
  <% end %>
  <div class="container pt-5">
    <div class="text-center col-12">
      <div class="col-12">
        <h2 class="text-dark">お問い合わせありがとうございます。</h2><br><br>
      </div>
      <div class="col-12 mb-5">
        お問い合わせを承りました。<br><br>
        状況を確認次第、順次メールを差し上げますので、今しばらくお待ちください。<br>
        <br>
        なお、回答までにお時間を要する場合がございます。予めご了承ください。
      </div>
      <% if user_signed_in? %>
        <div class="col-12 pb-5">
          <%= link_to "マイページへ", user_path(current_user), class: 'btn btn-primary mb-5' %>
        </div>
      <% else %>
        <div class="col-12 pb-5">
          <%= link_to "トップページへ", root_path, class: 'btn btn-primary mb-5' %>
        </div>
      <% end %>
    </div>
  </div>
</section>
