<section id="contact" class="bg-light">
  <div class="container pt-5">
    <div class="text-center col-12">
      <div class="col-12">
        <h3 class="text-dark">お問い合わせありがとうございます。</h3><br><br>
      </div>
      <div class="col-12 mb-3">
        お問い合わせを承りました。<br>
        状況を確認次第、順次メールを差し上げますので、今しばらくお待ちください。<br>
      </div>
      <div class="col-12 pb-5">
        <%= link_to "マイページへ", user_path(current_user), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</section>
