<section id="event" class="bg-light">
  <div class="container">
    <div class='row'>
      <% tags.each do |tag| %>
        <ul>
          <li><%= link_to tag.name, tag_path(tag) %></li>
        </ul>
      <% end %>
    </div>
  </div>
</section>