<section id="about">
  <%= render 'layouts/header' %>
  <div class="container">
    <div class="row">
      <h1 class="pt-0 display-5">
        哲学カフェとは？
      </h1>
      <div class="text-left">
        <p>マルク・ソーテ（仏: Marc Sautet、1947年 - 1998年）が1992年12月13日、<br>
        バスティーユ広場のパリ4区側にあるカフェ「カフェ・デ・ファール（灯台カフェ, Café des Phares）」<br>
        で初の哲学カフェを開いたことが起源と言われています。
        ただし、イギリスにおいて1652年に初のコーヒーハウスが開店し、<br>
        その文化が根付く過程において、コーヒーハウスは社交・議論の場として機能していた言われており、<br>
        その頃からカフェは議論・討論の場（サロン）として機能していました。<br>
        その議題は多岐にわたり、政治・経済から人間関係の相談事までであったと言われいます。<br>
        今日の哲学カフェはそのコーヒーハウスでのサロン文化を継承したものと作者は考えています。<br>
        「哲学」という小難しい言葉に囚われず、しかしながら「哲学的」に自由に議論する。そのような場が「哲学カフェ」です。<br>
        「哲学」とは、古代ギリシャの哲学者の言葉を借りれば、「よく生きることの知恵」であり、<br>
        「哲学カフェ」とは、「哲学が生成する場所、哲学がはたらきだす場所」であり、<br>
        「合意よりも、問題の所在を探ること、問いが書き換えられていくプロセスそのものをシェアすること」<br>
        （鷲田清一監修 カフェフィロ編『哲学カフェのつくりかた』大阪大学出版会）を目的とした場なのです。（Dialogos CafE作成者）
        </p>
      </div>
      <h1 class="pt-0 display-5">
        Dialogos CafEとは？
      </h1>
    </div>
  </div>
</section>