<section id="about">
  <%= render 'layouts/header' %>
  <div class="container">
    <div class="row">
      <h1 class="pt-0 display-5 emerge">
        哲学カフェとは？
      </h1>
      <div class="text-left emerge">
        <p>　マルク・ソーテ（仏: Marc Sautet、1947年 - 1998年）が1992年12月13日、
          バスティーユ広場のパリ4区側にあるカフェ「カフェ・デ・ファール（灯台カフェ, Café des Phares）」
          で初の哲学カフェを開いたことが起源と言われています。
          ただし、イギリスにおいて1652年に初のコーヒーハウスが開店し、
          その文化が根付く過程において、コーヒーハウスは社交・議論の場として機能していた言われており、
          その頃からカフェは議論・討論の場（サロン）として機能していました。
          その議題は政治・経済から人間関係の相談事まで多岐にわたるものであったと言われています。
          今日の哲学カフェはそのコーヒーハウスでのサロン文化を継承したものと作者は考えています。
        </p>
        <p>　「哲学」という小難しい言葉に囚われず、しかしながら「哲学的」に自由に議論する。そのような場が「哲学カフェ」です。
          「哲学」とは、古代ギリシャの哲学者の言葉を借りれば、「よく生きることの知恵」であり、
          「哲学カフェ」とは、「哲学が生成する場所、哲学がはたらきだす場所」であり、
          「合意よりも、問題の所在を探ること、問いが書き換えられていくプロセスそのものをシェアすること」
          （鷲田清一監修 カフェフィロ編『哲学カフェのつくりかた』大阪大学出版会）を目的とした場なのです。（Dialogos CafE作成者）
        </p>
      </div>
      <h1 class="pt-0 display-5 emerge">
        Dialogos CafEとは？
      </h1>
      <div class="text-left emerge">
        <p>　「Dialogos CafE」は、このような哲学カフェの管理・運営と、SNS機能による交流の場を実現します。
          「Dialogos」とは、ギリシャ語で「対談」、「対話篇」を意味し、哲学の起源と語られることの多い、ソクラテスについてつづられた、
          プラトンによる「対話篇」から名付けました。
          スローガンは、「私たちの対話篇を作ろう」です。
        </p>
        <p>　現代社会において、我々は進歩する科学・社会の只中にいます。しかし
          古代ローマにおいては直接民主主義が採用されており、議論は生活の一部であったように思われます。
          しかし、社会制度や技術の進歩により、公的な議論の場は喪われ、また、先のコーヒーハウスに代表される、
          草の根的な議論の場はその規模を縮小させつつあります。
        </p>
        <p>　このような時代であるからこそ、我々は「語ること」、そして「聴くこと」の意義を再認識する必要があると、私は考えています。
          そして、「Dialogos CafE」は、インターネットを通じて、「議論」や「おしゃべり」の場を創り出すために生まれました。
          「Dialogos CafE」の「E」が大文字となっているのは、Cafeを「電子的に（英：electronic）」に作り出すことを意味します。
          「Dialogos CafE」が、この「語ること」そして「聴くこと」を求める方々の一助となること、
          そして、皆様だけの「対話篇」が創られていくことを願います。
        </p>
      </div>
    </div>
  </div>
</section>