<section id="top">
  <%= render 'layouts/header' %>
  <div class="container">
    <h1 class="pull-left pt-0 display-2">
      私たちの<br>
      ”対話篇”を<br>
      作ろう
    </h1>
  </div>
</section>
<div class="container">
  <h2>新着イベント</h2>
</div>