<footer class="bg-dark">
  <div class='container'>
    <div class='row'>
      <div class='mx-auto text-light'>
        <h4 class="mt-2">Dialogos CafE</h4>
        <p class="text-center"><%= link_to 'Contact Us', new_contact_path, class: 'text-light' %></li>
      </div>
    </div>
  </div>
</footer>